body {
  background-color: #cda7a7;
  box-sizing: border-box;
}

.center-stylists, .center-clients {
  width: 30%;
  margin: auto;
  margin-top: 10%;
  text-align: left;
  
}

.center-stylists ul, .center-clients ul{
  /* list-style-type: none; */
  list-style-position: inside;
  text-align: left;

}

.toright, .torightc  {
  margin-left: 4%;
}

.center-no-clients, .center-no-stylists {
  width: 60%;
  margin: auto;
  margin-top: 10%;
  text-align: center;
}

body a {
  color: black;
}

.navbar {
  box-sizing: border-box;
  border: 2px solid black;
  position:fixed;
  bottom:0%;
  width:100%;
  background-color: #c04747;
  padding-left: 3%;
  padding-right: 3%;
}

.navbar a {
  color: black;
}

/* .home, .stylists {
  display: inline;
  
} */