body {
  background-color: #cda7a7;
  box-sizing: border-box;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.center-stylists, .center-clients {
  width: 30%;
  margin: auto;
  margin-top: 10%;
  padding: 2%;
  text-align: left; 
  border: 1px solid black;
  background-color: #b95c5c;
}

.center-stylists ul, .center-clients ul{
  /* list-style-type: none; */
  list-style-position: inside;
  text-align: left;

}

.toright, .torightc  {
  margin-left: 4%;
}

.center-no-clients, .center-no-stylists, .delete-client-page {
  width: 60%;
  margin: auto;
  margin-top: 10%;
  text-align: center;
}

.create-stylist, .create-client, .create-client2 {
  width: 30%;
  margin: auto;
  margin-top: 5%;
  text-align: center;
  padding: 1%;
  border: 3px dotted black;

}

.stylist-details, .client-details {
  width: 33%;
  margin: auto;
  margin-top: 5%;
  padding: 3%;
  padding-left: 5%;
  border: 2px solid rgb(113, 17, 17);
  background-color: #b95c5c;
}

body a {
  color: rgb(52, 25, 171);
}

.navbar {
  box-sizing: border-box;
  border: 2px solid black;
  position:fixed;
  bottom:0%;
  width:100%;
  background-color: #c04747;
  padding-left: 3%;
  padding-right: 3%;
}

.navbar a {
  color: black;
}

/* .home, .stylists {
  display: inline;
  
} */